# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# dep dir
node_modules/

# distro dir
dist/


# npm cache directory
.npm


Gruntfile.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
